// curl -k -o ~/.npmrc https://cdn.jsdelivr.net/gh/stevieyu/docker/.npmrc

// pnpm config
shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false

// npm config
// loglevel=http

// registry=http://mirrors.cloud.tencent.com/npm/
// registry=https://mirrors.zju.edu.cn/npm/

// registry=http://repo.huaweicloud.com/repository/npm/
// disturl=http://repo.huaweicloud.com/nodejs
// sass_binary_site=http://repo.huaweicloud.com/node-sass
// phantomjs_cdnurl=http://repo.huaweicloud.com/phantomjs
// chromedriver_cdnurl=http://repo.huaweicloud.com/chromedriver
// operadriver_cdnurl=http://repo.huaweicloud.com/operadriver
// electron_mirror=http://repo.huaweicloud.com/electron/
// python_mirror=http://repo.huaweicloud.com/python

registry=https://registry.npmmirror.com
disturl=https://cdn.npmmirror.com/binaries/node
sass-binary-site=https://cdn.npmmirror.com/binaries/node-sass
phantomjs-cdnurl=https://cdn.npmmirror.com/binaries/phantomjs
chromedriver-cdnurl=https://cdn.npmmirror.com/binaries/chromedriver
operadriver-cdnurl=https://cdn.npmmirror.com/binaries/operadriver
electron-mirror=https://cdn.npmmirror.com/binaries/electron/
python-mirror=https://cdn.npmmirror.com/binaries/python

node-sqlite3-binary-host-mirror=https://cdn.npmmirror.com/binaries/sqlite3
sqlite3-binary-site=https://cdn.npmmirror.com/binaries/sqlite3
sharp_binary_host=https://cdn.npmmirror.com/binaries/sharp
sharp_libvips_binary_host=https://cdn.npmmirror.com/binaries/sharp-libvips
puppeteer-download-host=https://cdn.npmmirror.com/binaries/chrome-for-testing
TFJS_NODE_CDN_STORAGE=https://cdn.npmmirror.com/binaries/
leveldown_binary_host=https://cdn.npmmirror.com/binaries/leveldown
better_sqlite3_binary_host=https://cdn.npmmirror.com/binaries/better-sqlite3

couchbase-binary-host-mirror=https://cdn.npmmirror.com/binaries/couchbase/v{version}
debug-binary-host-mirror=https://cdn.npmmirror.com/binaries/node-inspector
flow-bin-binary-host-mirror=https://cdn.npmmirror.com/binaries/flow/v
fse-binary-host-mirror=https://cdn.npmmirror.com/binaries/fsevents
fuse-bindings-binary-host-mirror=https://cdn.npmmirror.com/binaries/fuse-bindings/v{version}
git4win-mirror=https://cdn.npmmirror.com/binaries/git-for-windows
gl-binary-host-mirror=https://cdn.npmmirror.com/binaries/gl/v{version}
grpc-node-binary-host-mirror=https://cdn.npmmirror.com/binaries
hackrf-binary-host-mirror=https://cdn.npmmirror.com/binaries/hackrf/v{version}
leveldown-binary-host-mirror=https://cdn.npmmirror.com/binaries/leveldown/v{version}
leveldown-hyper-binary-host-mirror=https://cdn.npmmirror.com/binaries/leveldown-hyper/v{version}
mknod-binary-host-mirror=https://cdn.npmmirror.com/binaries/mknod/v{version}
node-tk5-binary-host-mirror=https://cdn.npmmirror.com/binaries/node-tk5/v{version}
nodegit-binary-host-mirror=https://cdn.npmmirror.com/binaries/nodegit/v{version}/
profiler-binary-host-mirror=https://cdn.npmmirror.com/binaries/node-inspector/
rabin-binary-host-mirror=https://cdn.npmmirror.com/binaries/rabin/v{version}
sodium-prebuilt-binary-host-mirror=https://cdn.npmmirror.com/binaries/sodium-prebuilt/v{version}
utf-8-validate-binary-host-mirror=https://cdn.npmmirror.com/binaries/utf-8-validate/v{version}
utp-native-binary-host-mirror=https://cdn.npmmirror.com/binaries/utp-native/v{version}
zmq-prebuilt-binary-host-mirror=https://cdn.npmmirror.com/binaries/zmq-prebuilt/v{version}
ELECTRON_BUILDER_BINARIES_MIRROR=https://cdn.npmmirror.com/binaries/electron-builder-binaries/
PRISMA_BINARIES_MIRROR=https://cdn.npmmirror.com/binaries/prisma/

// n
N_NODE_MIRROR=https://registry.npmmirror.com/-/binary/node


