// curl -k -o ~/.npmrc https://cdn.jsdelivr.net/gh/stevieyu/docker/.npmrc

// pnpm config
shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false

// npm config
// loglevel=http

// registry=http://mirrors.cloud.tencent.com/npm/

registry=https://registry.npmmirror.com
disturl=https://cdn.npmmirror.com/binaries/node
chromedriver-cdnurl=https://cdn.npmmirror.com/binaries/chromedriver
sharp_binary_host=https://cdn.npmmirror.com/binaries/sharp
sharp_libvips_binary_host=https://cdn.npmmirror.com/binaries/sharp-libvips
couchbase-binary-host-mirror=https://cdn.npmmirror.com/binaries/couchbase/v{version}
debug-binary-host-mirror=https://cdn.npmmirror.com/binaries/node-inspector
electron-mirror=hhttps://cdn.npmmirror.com/binaries/electron/
flow-bin-binary-host-mirror=https://cdn.npmmirror.com/binaries/flow/v
fse-binary-host-mirror=https://cdn.npmmirror.com/binaries/fsevents
fuse-bindings-binary-host-mirror=https://cdn.npmmirror.com/binaries/fuse-bindings/v{version}
git4win-mirror=https://cdn.npmmirror.com/binaries/git-for-windows
gl-binary-host-mirror=https://cdn.npmmirror.com/binaries/gl/v{version}
grpc-node-binary-host-mirror=https://cdn.npmmirror.com/binaries
hackrf-binary-host-mirror=https://cdn.npmmirror.com/binaries/hackrf/v{version}
leveldown-binary-host-mirror=https://cdn.npmmirror.com/binaries/leveldown/v{version}
leveldown-hyper-binary-host-mirror=https://cdn.npmmirror.com/binaries/leveldown-hyper/v{version}
mknod-binary-host-mirror=https://cdn.npmmirror.com/binaries/mknod/v{version}
node-sqlite3-binary-host-mirror=https://cdn.npmmirror.com/binaries
node-tk5-binary-host-mirror=https://cdn.npmmirror.com/binaries/node-tk5/v{version}
nodegit-binary-host-mirror=https://cdn.npmmirror.com/binaries/nodegit/v{version}/
operadriver-cdnurl=https://cdn.npmmirror.com/binaries/operadriver
phantomjs-cdnurl=https://cdn.npmmirror.com/binaries/phantomjs
profiler-binary-host-mirror=https://cdn.npmmirror.com/binaries/node-inspector/
puppeteer-download-host=https://cdn.npmmirror.com/binaries
python-mirror=https://cdn.npmmirror.com/binaries/python
rabin-binary-host-mirror=https://cdn.npmmirror.com/binaries/rabin/v{version}
sass-binary-site=https://cdn.npmmirror.com/binaries/node-sass
sodium-prebuilt-binary-host-mirror=https://cdn.npmmirror.com/binaries/sodium-prebuilt/v{version}
sqlite3-binary-site=https://cdn.npmmirror.com/binaries/sqlite3/
utf-8-validate-binary-host-mirror=https://cdn.npmmirror.com/binaries/utf-8-validate/v{version}
utp-native-binary-host-mirror=https://cdn.npmmirror.com/binaries/utp-native/v{version}
zmq-prebuilt-binary-host-mirror=https://cdn.npmmirror.com/binaries/zmq-prebuilt/v{version}
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://cdn.npmmirror.com/binaries/electron-builder-binaries/
PRISMA_BINARIES_MIRROR=https://cdn.npmmirror.com/binaries/prisma/

// n
N_NODE_MIRROR=https://registry.npmmirror.com/-/binary/node

// huawei
// registry=https://repo.huaweicloud.com/repository/npm/
// disturl=https://repo.huaweicloud.com/nodejs
// sass_binary_site=https://repo.huaweicloud.com/node-sass
// phantomjs_cdnurl=https://repo.huaweicloud.com/phantomjs
// chromedriver_cdnurl=https://repo.huaweicloud.com/chromedriver
// operadriver_cdnurl=https://repo.huaweicloud.com/operadriver
// electron_mirror=https://repo.huaweicloud.com/electron/
// python_mirror=https://repo.huaweicloud.com/python
